/*css to the body*/
body{
    background-color: ghostwhite;
    margin: 0px 130px;
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    
    
}
html{
    scroll-behavior: smooth;
}
/*header containing the Navigation bar*/
#header{
    background: ghostwhite;
    width: 85%;
    position: fixed;
    
}
.logo{
   float: left;
   margin-bottom: 0px;
   margin-left: 50px;
   margin-top: 5px;

}
.TopNav {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

/*contents of the Navigation bar */
.TopNav a{
    padding: 10px;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    color: darkslateblue;
}
/* Navigation bar hover*/
.TopNav a:hover{
color: #f75023;
}
a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f75023;
    position: absolute;
    left: 5px;
    bottom: 1px;
    transition: 0.3s;
}
a:hover:after{
    width: 63px;
}
#content-area{
   padding-top: 10%;
}

/*edits for the the columns*/
#container{
display: flex;
flex-wrap: wrap;
gap: 25px;
}
.col-1{
    flex: 40%;
}
/* project's columns*/
.column{
    flex: 13.33%;
    text-align: center;
    min-height: 500px;
    padding: 10px;
    border: 1px solid #006e7f;
    border-radius: 5px;
    transition: transform .4s;
}
.column:hover{
    transform: scale(1.1);
    border: 2px solid #f8cb2e;
    background-color: ghostwhite;
}
#project{
    text-align: center;
    padding-top: 50px;
}
#contact{
    text-align: center;
    min-height: 300px;
    padding-top: 50px;
    
}

/*start of buttons*/
.btn-1{
    background-color: #f8cb2e;
    color: white;
    border: 2px solid transparent;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 30px;
    font-size: 15px;
    transition:transform .4s;
}
.btn-1:hover{
    transform: scale(1.2);
}
.btn-2{
    border-radius: 4px;
  background-color: #f75023;
  border: none;
  color:white;
  text-align: center;
  font-size: 13px;
  padding: 10px;
    width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn-2 span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  .btn-2:hover span {
    padding-right: 15px;
  }
  
  .btn-2:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /*end of buttons*/
#footer{
    text-align: center;
    padding-top: 100px;
}